/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

/*
    Created on : 6 Nov, 2013, 11:47:29 AM
    Author     : ashutosh
*/
@import "../fonts/selfdestruct.css";
@import "../fonts/hadley.css";
@import "../fonts/blackrose.css";
@import "../fonts/telegrama.css";

* {
    margin: 0; 
    outline: none; 
}

body {
    background: url("../images/cover.jpg") repeat scroll center center rgb(100, 91, 92);
    min-width: 1200px;
    overflow: auto;
}

#user-info {
    position: fixed;
    right: 5px;
    top: 55px;
    height: 85%;
    width: 40%;
    margin: 10px;
    min-width: 450px;
    overflow: auto;
}
#user-info #user {
    font-family: "Black Rose";
    position: absolute;
    right: 10%;
    top: 5%;
    color: #fff;
    text-shadow: 0 0 5px #000;
    font-size: 2.5em;
    font-weight: 100;
}
#user-info #level-score, #total-score{
    position: absolute;
    left: 20%;
    color: #E1EBF9;
    font-family: 'Self Destruct';
    font-size: 40px;
    font-weight: 100;
    text-shadow: 0 0 15px #fff, 0 0 20px #2d84ff, 0 0 30px #2d84ff, 0 0 40px #2d84ff, 0 0 50px #2d84ff, 0 0 75px #2d84ff;
}

#user-info h2 span {
    text-shadow: 0 0 15px #fff, 0 0 20px #2d84ff, 0 0 30px #2d84ff, 0 0 40px #2d84ff, 0 0 50px #2d84ff, 0 0 75px #2d84ff;
    position: absolute;
    right: -80%;
    top:0;
}

#user-info #level-score {
    bottom: 15%;
}

#user-info #total-score {
    bottom: 5%;
}

#user-info #tchest {
    position: absolute;
    left: 0;
    top: 5%;
    list-style-type: none;
}

#user-info #tchest>li {
    display: inline-block;
}

#user-info #tchest img {
    width: 40px;
    height: 40px;
}

#user-info #increase {
    position: absolute;
    left: 0px;
    width: 65%;
    color: rgb(255, 255, 255);
    list-style-type: none;
    line-height: 175%;
    bottom: 25%;
    padding: 0px 15%;
    overflow: hidden;
}

#user-info #increase>li {
    font-family: "Self Destruct";
    position: relative;
    -webkit-animation: flyout 20s linear forwards;
    -moz-animation: flyout 20s linear forwards;
    animation: flyout 20s linear forwards;    
    text-shadow: 2px 2px 2px #ccc, 1px 1px 4px #ddd, 0px 0px 6px #fff;
    font-size: 1.5em;
    color: #222;
}

#user-info #increase>li:nth-child(2) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
#user-info #increase>li:nth-child(3) {
    -webkit-animation-delay: 1.0s;
    animation-delay: 1.0s;
}
#user-info #increase>li:nth-child(4) {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
#user-info #increase>li:nth-child(5) {
    -webkit-animation-delay: 2.0s;
    animation-delay: 2.0s;
}

#user-info #increase>li>span {
    position: absolute;
    right: 0;
}

@keyframes flyout {
    0% {left: 10%; opacity: 0;}
    10% {left: 10%; opacity: 1;}
    25% {left: 10%; opacity: 1;}
    100% {left: 10000px;}
}
@-webkit-keyframes flyout {
    0% {left: 10%; opacity: 0;}
    10% {left: 10%; opacity: 1;}
    25% {left: 10%; opacity: 1;}
    100% {left: 10000px;}
}
#button-wrapper {
    position: fixed;
    top: 55px;
    left: 2%;
    height: 85%;
    width: 60%;
    min-width: 450px;
    max-width: 775px;
    font-weight: 100; 
    overflow: auto;
    box-shadow: -5px 5px 10px 5px #111;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
}
#button-wrapper #question-div {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    overflow: auto;
    width:100%;
}
#button-wrapper #question-div.minimized {
    height: 80%;
}
#button-wrapper #advance-div {
    top: 3%;
    height: 20%;
    position: absolute;
    width: 44%;
    right: 0;
}
#button-wrapper ul {
    list-style-type: none;
    margin: 0 2.5%;
    padding: 0;
    width: 95%;
}
#button-wrapper ul li {
    display: inline-block;
    vertical-align: central;
    margin: 0;
    padding: 0.5em;
    height: auto;
    overflow: auto;
}
#button-wrapper h3 {
    margin: 1.3em 0.5em 0.75em;
    padding: 0 0 3% 4%;
    color: #004ab2;
    font-family: 'Hadley', sans-serif;
    position: relative;
    text-shadow: 0 2px 0 rgba(255,255,255,0.5),
        0 0 2px rgba(0,0,0,0.5);
    font-size: 40px;
    line-height: 4px;
    font-weight: bold;
}
#button-wrapper .a-btn{
    background:-webkit-gradient(linear,left top,left bottom,color-stop(rgba(0, 0, 0, 0),0),color-stop(rgba(0, 0, 0, 0.2),1));
    background:-webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    background:-moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    background:-o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    background:linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    padding-left:90px;
    padding-right:90px;
    height:90px;
    display:inline-block;
    position:relative;
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    float:left;
    clear:both;
    overflow:hidden;
    -webkit-transition:box-shadow 0.3s ease-in-out;
    -moz-transition:box-shadow 0.3s ease-in-out;
    -o-transition:box-shadow 0.3s ease-in-out;
    transition:box-shadow 0.3s ease-in-out;
    text-decoration: none;
}
#button-wrapper .a-btn:hover {
    border-radius:5px 60px 60px 5px;
}
#button-wrapper .a-btn img{
    position:absolute;
    left:15px;
    top:13px;
    border:none;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    height: 64px;
}
#button-wrapper .a-btn .a-btn-slide-text{
    position:absolute;
    font-size:36px;
    top:50px;
    left:18px;
    color:#bde086;
    text-shadow:0px 1px 1px rgba(0,0,0,0.3);
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
    -ms-transform:scale(0);
    -o-transform:scale(0);
    transform:scale(0);
    opacity:0;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
#button-wrapper .a-btn-text{
    padding-top:13px;
    display:block;
    font-size:30px;
}
#button-wrapper .a-btn-text small{
    display:block;
    font-size:11px;
    letter-spacing:1px;
}
#button-wrapper .a-btn-icon-right{
    position:absolute;
    right:0px;
    top:0px;
    height:100%;
    width:80px;
    border-left:1px solid #5d81ab;
    -webkit-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
    -moz-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
    box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
}
#button-wrapper .a-btn-icon-right span{
    width:38px;
    height:38px;
    opacity:0.7;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-20px 0px 0px -20px;
    border:1px solid rgba(0,0,0,0.5);
    background:#5b5b5b url(../images/arrow_right.png) no-repeat center center;
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.3) inset, 0px 1px 2px rgba(255,255,255,0.5);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.3) inset, 0px 1px 2px rgba(255,255,255,0.5);
    box-shadow:0px 1px 1px rgba(255,255,255,0.3) inset, 0px 1px 2px rgba(255,255,255,0.5);
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
#button-wrapper .a-btn:hover{
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 5px rgba(0,0,0,0.4);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 5px rgba(0,0,0,0.4);
    box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 5px rgba(0,0,0,0.4);
}
#button-wrapper .a-btn:hover img{
    opacity:0;
}
#button-wrapper .a-btn:hover .a-btn-slide-text{
    opacity:1;
    top:25px;
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
}
#button-wrapper .a-btn:hover .a-btn-icon-right span{
    opacity:1;
    background-color:#bc3532;
}
#button-wrapper .a-btn:active{
    position:relative;
    top:1px;
    background:#5d81ab;
    -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    border-color:#80a9da;
}
#button-wrapper .a-btn-slide-icon{
    position:absolute;
    top:34px;
    width:22px;
    height:22px;
    background:transparent url(../images/arrow_right_black.png) no-repeat top left;
    left:85%;
    opacity:0;
}
#button-wrapper .a-btn:hover .a-btn-slide-icon{
    -webkit-animation:slideRight 0.9s linear infinite;
    -moz-animation:slideRight 0.9s linear infinite;
    animation:slideRight 0.9s linear infinite;
}
@keyframes slideRight{
    0% { }
    20% { opacity: 0.4;}
    100% { left: 350px;}
}
@-webkit-keyframes slideRight{
    0% { }
    20% { opacity: 0.4;}
    100% { left: 350px;}
}
@-moz-keyframes slideRight{
    0% { }
    20% { opacity: 0.4;}
    100% { left: 350px;}
}
#button-wrapper .a-btn.unopened {
    background-color:#80a9da;
}
#button-wrapper .a-btn.unopened .a-btn-text {
    color: #002e70;
    text-shadow:0px -1px 1px #5d81ab;
}

#button-wrapper .a-btn.opened {
    background-color:#eabe05;
}
#button-wrapper .a-btn.opened .a-btn-text {
    color: #5a4a06;
    text-shadow:0px -1px 1px #5a4a06;
}

#button-wrapper .a-btn.answered {
    background-color:#66cc00;
}
#button-wrapper .a-btn.answered .a-btn-text {
    color: #006633;
    text-shadow:0px -1px 1px #002814;
}
#button-wrapper #advance{
    text-decoration: none;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    padding:10px 30px 10px 70px;
    position:relative;
    float:left;
    height: 50px;
    display:block;
    overflow:hidden;
    margin:10px;
    background:#9cedef;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(#b7f2f4,0),color-stop(#7ce7ea,1));
    background:-webkit-linear-gradient(top, #b7f2f4 0%, #7ce7ea 100%);
    background:-moz-linear-gradient(top, #b7f2f4 0%, #7ce7ea 100%);
    background:-o-linear-gradient(top, #b7f2f4 0%, #7ce7ea 100%);
    background:linear-gradient(top, #b7f2f4 0%, #7ce7ea 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7f2f4', endColorstr='#7ce7ea',GradientType=0 );
    border:1px solid #90c6c8;
    border-color:#90c6c8 #78bdc0 #65b6ba;
    -webkit-box-shadow:0px -5px 0px 0px #458a8c, 0 1px 1px #d5d5d5, inset 0 1px 0 rgba(255,255,255,0.8);
    -moz-box-shadow:0px -5px 0px 0px #458a8c, 0 1px 1px #d5d5d5, inset 0 1px 0 rgba(255,255,255,0.8);
    box-shadow:0px -5px 0px 0px #458a8c, 0 1px 1px #d5d5d5, inset 0 1px 0 rgba(255,255,255,0.8);
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
#button-wrapper #advance .advance-symbol{
    opacity: 0.2;
    position: absolute;
    left: 5%;
    top: 15%;
    height: 70%;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
#button-wrapper #advance .advance-text{
    font-size:20px;
    color:#437b7d;
    text-shadow:0 1px 0 #bef3f5;
    line-height:30px;
    vertical-align: bottom;
    font-weight:bold;
    font-size: 20px;
    font-family:"Telegrama";
    display:block;
}
#button-wrapper #advance .advance-slide-text{
    font-family:Arial, sans-serif;
    font-size:10px;
    letter-spacing:1px;
    text-transform:uppercase;
    color:#555;
    text-shadow:0px 1px 1px rgba(255,255,255,0.9);
}
#button-wrapper #advance:hover{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: perspective(600px) rotateY( 45deg );
}
#button-wrapper #advance:hover .advance-symbol{
    opacity:0.7;
    animation: rotate 3s linear infinite normal;
    -webkit-animation: rotate 3s linear infinite normal;
}
#button-wrapper #advance:active{
    -webkit-transform:scale(0.95);
    -moz-transform:scale(0.95);
    -ms-transform:scale(0.95);
    -o-transform:scale(0.95);
    transform: scale(0.95);
    -webkit-box-shadow:0px 0px 0px 1px #458a8c, 0 1px 1px #d5d5d5, inset 0 1px 0 rgba(255,255,255,0.8), 0px 1px 1px 2px #fff;
    -moz-box-shadow:0px 0px 0px 1px #458a8c, 0 1px 1px #d5d5d5, inset 0 1px 0 rgba(255,255,255,0.8), 0px 1px 1px 2px #fff;
    box-shadow:0px 0px 0px 1px #458a8c, 0 1px 1px #d5d5d5, inset 0 1px 0 rgba(255,255,255,0.8), 0px 1px 1px 2px #fff;
}

@keyframes rotate {
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}
@-webkit-keyframes rotate {
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

#complete-hide {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(8, 8, 8, 0.6);
    animation: vanish 1s ease-out 2s normal;
    -webkit-animation: vanish 1s ease-out 2s normal;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    z-index: 100;
}

#complete-hide #message-display {
    position: static;
    width: 500px;
    margin: 100px auto;
    padding: 50px;
    background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
    border-radius: 15px;
    border: 2px solid #fff;
    box-shadow: 0 0 15px 2px #ddd;
}

#complete-hide #message-display h2 {
    text-align: center;
    text-shadow: 0 0 2px #aaa;
}

@keyframes vanish {
    0%{display:block;opacity:1;}
    90%{opacity:0.5;}
    95%{opacity:0.25;}
    100%{opacity:0;display:none;z-index:-1;}
}
@-webkit-keyframes vanish {
    0%{display:block;opacity:1;}
    90%{opacity:0.5;}
    95%{opacity:0.25;}
    100%{opacity:0;display:none;z-index:-1;}
}