/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 Nov, 2013, 2:28:50 PM
    Author     : ashutosh
*/

nav {
    background-color:black;
    position:fixed;
    top:0em;
    left:0em;
    width:100%;
    height:55px;
    box-shadow: 0 5px 5px #111;
    z-index: 1;
    min-width: inherit;
}

nav a {
    position: relative;
    display: inline-block;
    margin: 15px 0;
    outline: none;
    color: #00c3ff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 1em;
}

nav a:hover,
nav a:focus {
    outline: none;
}

.cl-effect-9 a {
    margin: 0 10px;
    padding: 10px 15px;
}

.cl-effect-9 a::before,
.cl-effect-9 a::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #00a1d2;
    content: '';
    opacity: 0.2;
    -webkit-transition: opacity 0.3s, height 0.3s;
    -moz-transition: opacity 0.3s, height 0.3s;
    transition: opacity 0.3s, height 0.3s;
}

.cl-effect-9 a::after {
    top: 93%;
    opacity: 0;
    box-shadow: 0 1px 3px #00a1d2;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

.cl-effect-9 a span:first-child {
    z-index: 2;
    display: block;
    font-weight: 300;
    border-top: 10px;
}

.cl-effect-9 a span:last-child {
    z-index: 1;
    display: block;
    padding: 2px 0 0 0;
    color: rgb(170, 170, 170);
    text-shadow: none;
    text-transform: none;
    text-align: center;
    font-style: italic;
    font-size: 0.8em;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
}
.cl-effect-9 a:hover span:first-child,
.cl-effect-9 a:focus span:first-child {
    border-top: 0;
}

.cl-effect-9 a:hover::before,
.cl-effect-9 a:focus::before {
    height: 6px;
}

.cl-effect-9 a:hover::before,
.cl-effect-9 a:hover::after,
.cl-effect-9 a:focus::before,
.cl-effect-9 a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

.cl-effect-9 a:hover span:last-child,
.cl-effect-9 a:focus span:last-child {
    opacity: 1;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform: translateY(0%);
}

