
<form name="formAnswer" id="form-answer" ng-controller="SubmitAnswerController as submitCtrl" ng-submit="submitCtrl.submit()">
    <input id="ans" name="answer" ng-model="submitCtrl.answer" placeholder="Your answer here..." autocomplete="off"/>
    <a href id="submit-btn" ng-click="submitCtrl.submit()">
        <span class="btn-text">Submit</span>

        <span class="btn-expandable">
            <span class="btn-slide-text" ng-controller="TauntController as taunt">{{taunt.get()}}</span>
            <span class="btn-icon-right">
                <span></span>
            </span>
        </span>
    </a>
</form>

