/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 Nov, 2013, 3:55:57 PM
    Author     : ashutosh
*/

@font-face {
    font-family: "Maya Culpa";
    src: url('./Maya Culpa.ttf') format('truetype');
}