/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 Nov, 2013, 5:14:15 PM
    Author     : ashutosh
*/

@font-face {
    font-family: "Self Destruct";
    src: url('./SelfDestructButtonBB_bold.otf') format('opentype'),
        url('./SelfDestructButtonBB_ital.otf') format('opentype'),
        url('./SelfDestructButtonBB_reg.otf') format('opentype');
}