/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 Nov, 2013, 5:26:45 PM
    Author     : ashutosh
*/

@font-face {
    font-family: "Vanthian";
    src: url('./Vanthian Ragnarok.ttf') format('truetype');
 }