/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 Nov, 2013, 8:14:11 PM
    Author     : ashutosh
*/

@font-face {
    font-family: "Zephyr";
    src: url('./zephyr.ttf') format('truetype');
}